.detail {
  margin: 0 auto;
  max-width: 625px;
  min-width: 300px;
  padding: 1% 5%;
}
.detail li {
  display: flex;
  padding: 5% 0;
  border-bottom: 1px solid red;
}
.detail li:nth-of-type(4) {
  border: 0;
}
.detail li .l_le img {
  width: 8rem;
  height: 8rem;
}
.detail li .r_ri {
  width: 50%;
  padding-left: 5%;
}
.detail li .r_ri h5 {
  font-size: 1.4rem;
}
.detail li .r_ri p {
  font-size: 1.2rem;
  padding: 2% 0;
}
.detail li .r_ri p:nth-of-type(1) {
  margin-top: 4%;
}
.detail li .r_ri p:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
}
.detail li .r_ri p:nth-of-type(2) span {
  font-size: 1.2rem;
}
.detail li .r_ri p:nth-of-type(2) span:nth-of-type(2) {
  color: #fd8900;
}
